.navbar {
    background-color: #e4e4e4;
}

.navlink {
transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #ddd;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.hero {
    background-color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.product-card {
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.category-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    text-align: center;
    display: none;
}

.category-card:hover .category-overlay {
    display: block;
}